.Navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 50px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    margin:20px;
    z-index: 1000;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Navbar-icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: var(--secondary-color);
     
    
}
.Navbar-links-container{
    position:absolute;
    left:0;
    transform: translate(-90%, 0);
    width: 300px;
    height: 75vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Navbar-themes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    border: 1px solid var(--secondary-color);
    
    border-radius: 15px;
    padding-top:20px;
    padding-bottom:20px;
    margin: 20px;
    
    
}
.Navbar-link{
    font-size: 2.5em;
    font-weight:500;
    margin: 10px;
    background-color: var(--primary-color);
    border: none;
     
}
.Navbar-theme{
    font-size: x-large;
    margin: 10px;
    background-color: var(--primary-color);
    border: none;
     
    
}
.Navbar-banner {
    overflow: hidden; 

    white-space: nowrap; 

    position: relative; 
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.Navbar-banner-text {
    display: inline-block;
    padding: 0 50px; 
    animation: scrollBanner 10s linear infinite; 
}
.Navbar-banner-divider {
    display: inline-block;
    margin-top: 10px;
    
    border: 1px solid var(--secondary-color);
    
}
.Navbar-socials{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-size: 1.0em;
    
    font-weight: 500;
    
    

}
.Navbar-social{
    margin: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.0em;
    font-weight: 500;
    border-radius: 25px;
    padding:0px;
     
    
}
.Navbar-social:hover{
    
    transition: 0.1s;
  
    
}
.editor{
    position: relative;
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-size: 1.0em;
    margin: 10px;
    font-weight: 500;
    input[type="range"] {
        -webkit-appearance: none; /* Override default CSS styles */
            appearance: none;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 25px;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        appearance: none;
        background: transparent;
        border-color: transparent;
        color: transparent;
        -webkit-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        border: 1px solid var(--secondary-color);
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background: transparent;
        
        -webkit-appearance: none;
        
    }
    input[type="range"]::-moz-range-track {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
    border-color: transparent;
    color: transparent;
    }
    input[type="range"]::-moz-range-thumb {
        appearance: none;
        border: 1px solid var(--secondary-color);
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background: transparent;
         
        
    }
    input[type="range"]::-ms-track {
        appearance: none;
        background: transparent;
    border-color: transparent;
    color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
        appearance: none;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 25px;
    }
    input[type="range"]::-ms-fill-upper {
        appearance: none;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 25px;
    }
    input[type="range"]::-ms-thumb {
        appearance: none;
        border: 1px solid var(--secondary-color);
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background: transparent;
         
    }
    
}

@keyframes scrollBanner {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* End at the left */
    }
}
/* Mobile */
@media (max-width: 1000px) {
    .Navbar{
        
        top: 0px;
        right: 0;
        width: 100px;
        height: 50px;
        border: 1px solid var(--secondary-color);
        border-radius: 15px;
        margin: 20px;
        
    }
    .Navbar-icon{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: xx-large;
        color: var(--secondary-color);
        z-index: 1000;
    }
    .Navbar-links-container{
        position:fixed;
        left: 50%;
        top: 50%;
        padding-top: 40px;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        border: 0px solid var(--secondary-color);
        border-radius: 0px;
        justify-content: center;
        align-items: center;
    }
    .Navbar-themes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20px;
        border: 1px solid var(--secondary-color);
        border-radius: 15px;
        padding-top:20px;
        padding-bottom:20px;
        margin: 20px;
        
        
    }
    .Navbar-link{
        font-size: 2.5em;
        font-weight:400;
        margin: 10px;
        background-color: var(--primary-color);
        border: none;
        
    }
    .Navbar-theme{
        font-size: x-large;
        margin: 10px;
        background-color: var(--primary-color);
        border: none;
        
    }
    .Navbar-socials{
        transform: translate(0, 0);
    
    }
    
   
  }
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    
  }
  
  @media (prefers-color-scheme: dark) {
    
  }