.project-container{
margin-bottom: 10px;
width: 100%;
position: relative;
border-radius: 25px;
}
.project-image:hover{
    border: 1px solid var(--secondary-color);
    transition: 0.1s;
}
.project-image{
    
    width: 300px;
    height: 200px;
    border-radius: 25px;
    
}

/* Mobile */
@media (max-width: 700px) {
    .project-container{
        
        width: 300px;
        
        border-radius: 20px;
        }
        
  }