.project-container{
margin-bottom: 10px;
width: 100%;

border-radius: 25px;
}
.project-image:hover{
    width: 100.5%;
    height: 100.5%;
    transition: 0.1s;
}
.project-image{
    
    width: 300px;
    height: 200px;
    border-radius: 25px;
    
}

/* Mobile */
@media (max-width: 700px) {
    .project-container{
        
        width: 300px;
        
        border-radius: 20px;
        }
        
  }